body { 
	width: 100%;
}

.wrapper{position: relative;
	     width:1200px;
	     height: 1120px;
	     margin: 0 auto;
         background-color: red;
         background-image: url(images/baxckground1.jpg);
}

.header{ 
	position: relative;
	margin: 0 auto;
     width: 845px;
     height: 120px;

}
